@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GT Walsheim";
    src: local('GT Walsheim'), local('GT Walsheim'),url("../public/fonts/GTWalsheimPro-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "GT Walsheim";
    src: local('GT Walsheim'), local('GT Walsheim'),url("../public/fonts/GTWalsheimPro-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "GT Walsheim";
    src: local('GT Walsheim'), local('GT Walsheim'),url("../public/fonts/GTWalsheimPro-Bold.woff");
    font-weight: 600;
}

body {
    background:rgb(28,42,52);
    background: -moz-linear-gradient(145deg, rgba(29,43,53,1) 37%, rgba(18,27,33,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(29,43,53,1) 37%, rgba(18,27,33,1) 100%);
    background: linear-gradient(145deg, rgba(29,43,53,1) 37%, rgba(18,27,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c2a34",endColorstr="#111a20",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: GT Walsheim, Helvetica Neue, Helvetica, ubuntu, Arial, sans-serif;
}

